@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

ul {
  margin: 0px;
  padding: 0px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* Убираем маркеры у списков */
  /* Убираем подчеркивания у ссылок */
}

.container .list {
  list-style-type: none;
}

.container .link {
  text-decoration: none;
}

.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-black {
  color: #000000;
}

.logo-white {
  margin-bottom: 20px;
  color: #ffffff;
}

nav {
  display: flex;
  align-items: center;
}

/* Задаем списку с пунктами меню позиционирование */
.nav {
  display: flex;
  /* Оформление навигации */
}

.nav .item:not(:last-child) {
  margin-right: 50px;
}

.nav-item {
  position: relative;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  transition-property: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:hover, .nav-item:focus {
  color: #2196f3;
}

.current {
  color: #2196f3;
}

/* Делаем подчеркивание для активного пункта меню */
.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  margin: 0;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

/* Задаем списку с контактами позиционирование */
.nav-contacts {
  display: flex;
}

.nav-contacts .item + .item {
  margin-left: 50px;
}

.nav-contacts-item {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 30px;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contacts-item:hover, .nav-contacts-item:focus {
  color: #2196f3;
  fill: #2196f3;
}

.nav-contacts .item p {
  margin-bottom: 0;
}

/* Стили для иконок svg, цвет и ховер */
.icon-email {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-email:hover,
.icon-phone:hover {
  fill: currentColor;
}

.icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.hero-button {
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  display: inline-block;
  appearance: none;
  border: 0;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.88;
  font-size: 16px;
}

.hero-button,
.hero-button:active,
.hero-button:focus {
  outline: none;
}

/* СТИЛИ МОДАЛЬНОГО ОКНА */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding-top: 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: inline-block;
  padding: 0;
  appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  cursor: pointer;
  background-color: #fff;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button svg {
  width: 11px;
  height: 11px;
  fill: 000000;
}

.close-button:hover .close-icon,
.close-button:focus .close-icon {
  fill: #2196f3;
}

.close-button, .close-button:active, .close-button:focus {
  outline: none;
}

.form-copy {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.form-field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-field input {
  margin-bottom: 10px;
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: outline-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
  fill: #2196f3;
}

.form-input:focus {
  outline-color: #2196f3;
}

.form-icon {
  position: absolute;
  top: 40%;
  left: 15px;
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: #000000;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea {
  margin-bottom: 20px;
  resize: none;
  padding: 12px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: outline-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea:focus {
  outline-color: #2196f3;
}

.form-field textarea::placeholder {
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field label {
  margin-bottom: 4px;
  font-family: Roboto;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.checkbox-icon {
  margin-right: 8px;
  display: inline-block;
  width: 15px;
  height: 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
}

.checkbox:checked + .checkbox-icon {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url("../images/check-icon.svg");
  background-size: contain;
  background-origin: border-box;
}

.form-accept {
  padding-left: 15px;
}

.form-accept label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.form-accept label {
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox-a {
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.button-submit-div {
  display: flex;
  justify-content: center;
}

.button-submit {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 56px;
  appearance: none;
  border: 0;
  cursor: pointer;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.features-title {
  margin-bottom: 10px;
  color: var(--headers-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features p {
  margin-bottom: 0px;
}

.features-list .item {
  width: 270px;
}

.features-list .item::before {
  content: "";
  margin-bottom: 30px;
  display: block;
  height: 120px;
  background-color: #f5f4fa;
}

.features-list .details::before {
  background-image: url(../images/features-details.svg);
  background-size: fill;
  background-repeat: no-repeat;
  background-position: center;
}

.features-list .punctuality::before {
  background-image: url(../images/features-punctuality.svg);
  background-size: fill;
  background-repeat: no-repeat;
  background-position: center;
}

.features-list .planning::before {
  background-image: url(../images/features-planning.svg);
  background-size: fill;
  background-repeat: no-repeat;
  background-position: center;
}

.features-list .tech::before {
  background-image: url(../images/features-tech.svg);
  background-size: fill;
  background-repeat: no-repeat;
  background-position: center;
}

.service-item-box {
  position: relative;
}

.service-title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  content: "";
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.service-title-p {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team-member {
  padding-bottom: 30px;
  width: 270px;
  margin-right: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member:nth-child(4n) {
  margin-right: 0;
}

.team-member-image {
  margin-bottom: 30px;
}

.team-member-name {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-member p {
  margin-bottom: 0;
}

.team-member-list p {
  line-height: 1.19x;
}

.team-member-icons {
  display: flex;
  margin-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
}

.team-member-icons .item:not(:last-child) {
  margin-right: 10px;
}

.team-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50px;
  transition-property: #ffffff;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons-link:hover,
.team-icons-link:focus {
  background-color: #2196f3;
}

.team-icons-link:hover .team-icon-svg,
.team-icons-link:focus .team-icon-svg {
  fill: #ffffff;
}

.team-icon-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Секция Клиенты */
.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo1 {
  width: 44px;
  height: 49px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo2 {
  width: 40px;
  height: 52px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo3 {
  width: 41px;
  height: 42px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo4 {
  width: 80px;
  height: 42px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo5 {
  width: 59px;
  height: 47px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo6 {
  width: 89px;
  height: 45px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item-link:hover .logo1,
.clients-item-link:hover .logo2,
.clients-item-link:hover .logo3,
.clients-item-link:hover .logo4,
.clients-item-link:hover .logo5,
.clients-item-link:hover .logo6,
.clients-item-link:focus .logo1,
.clients-item-link:focus .logo2,
.clients-item-link:focus .logo3,
.clients-item-link:focus .logo4,
.clients-item-link:focus .logo5,
.clients-item-link:focus .logo6 {
  fill: #2196f3;
}

.clients-item-link:hover,
.clients-item-link:focus {
  border-color: #2196f3;
}

.footer-address {
  margin-right: 68px;
}

.address p {
  margin-bottom: 9px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.address-email {
  margin-bottom: 9px;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  transition-property: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-email:hover {
  color: #2196f3;
}

.address-email:focus {
  color: #2196f3;
}

.address-phone {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  transition-property: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-phone:hover, .address-phone:focus {
  color: #2196f3;
}

.footer-social {
  padding-top: 10px;
  margin-right: 86px;
}

.footer-social p {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list {
  display: flex;
}

.footer-social-list .item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link .footer-icon-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: #2196f3;
}

.footer-subscribe {
  padding-top: 10px;
}

.footer-subscribe p {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-subscribe .subscribe-form {
  display: flex;
}

.footer-subscribe .subscribe-form input {
  width: 358px;
  margin-right: 12px;
  padding: 15px 16px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-subscribe .subscribe-form input::placeholder {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.button-subscribe {
  display: flex;
  align-items: center;
  padding: 10px 29px;
  appearance: none;
  border: 0;
  cursor: pointer;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.icon-send {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

/* СТИЛИ ДЛЯ СТРАНИЦЫ PORTFOLIO */
.portfolio-section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.work-type {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.work-type-item {
  appearance: none;
  border: 0;
  border-radius: 4px;
  display: inline-block;
  padding: 6px 22px;
  color: #212121;
  background: #f5f4fa;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border: none;
  transition-property: background, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-type-item:hover, .work-type-item:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work-type .item:not(:last-child) {
  margin-right: 8px;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
}

.works-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.works-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-item-copy {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.works-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.works-item:nth-child(3n) {
  margin-right: 0px;
}

.works-item-image-box {
  position: relative;
  display: flex;
  overflow: hidden;
}

.works-item-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.works-item-link:hover .works-item-overlay,
.works-item-link:focus .works-item-overlay {
  transform: translateY(0);
  opacity: 1;
}

.works-item-image-copy {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 64px;
  margin-bottom: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.works-item-title {
  margin-bottom: 4px;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-item-copy {
  width: 370px;
  padding: 20px 24px;
}

.works-item-p {
  margin-bottom: 0px;
  font-family: "Roboto", sans-serif;
  color: #757575;
}

.team {
  padding-bottom: 94px;
  padding-top: 94px;
  text-align: center;
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-title {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
  /* Позиционирование преимуществ */
}

.features-list {
  display: flex;
  justify-content: space-between;
}

.clients {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients h2 {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.clients-list {
  display: flex;
  margin-top: 50px;
}

.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-all {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-border {
  border-bottom: 1px solid #ececec;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-image-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title h1 {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-title {
  max-width: 696px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.services {
  padding-bottom: 94px;
  text-align: center;
}

.services-list {
  display: flex;
  justify-content: space-between;
}

.services-title {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */