.features-title {
  margin-bottom: 10px;

  color: var(--headers-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features p {
  margin-bottom: 0px;
}

.features-list {
  & .item {
    width: 270px;
  }

  & .item::before {
    content: "";
    margin-bottom: 30px;
    display: block;
    height: 120px;
    background-color: #f5f4fa;
  }

  & .details::before {
    background-image: url(../images/features-details.svg);
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center;
  }

  & .punctuality::before {
    background-image: url(../images/features-punctuality.svg);
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center;
  }

  & .planning::before {
    background-image: url(../images/features-planning.svg);
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center;
  }

  & .tech::before {
    background-image: url(../images/features-tech.svg);
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center;
  }
}
