.footer-subscribe {
  padding-top: 10px;

  & p {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-text-color;
  }

  & .subscribe-form {
    display: flex;
  }

  & .subscribe-form input {
    width: 358px;
    margin-right: 12px;
    padding: 15px 16px;
    background-color: #2f303a;

    color: rgba(255, 255, 255, 0.6);

    border: 1px solid rgba(255, 255, 255, 0.3);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }

  & .subscribe-form input::placeholder {
    font-family: Roboto;

    font-size: 16px;
    line-height: 1.25;

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
}

.button-subscribe {
  display: flex;
  align-items: center;
  padding: 10px 29px;

  appearance: none;
  border: 0;
  cursor: pointer;

  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  letter-spacing: 0.06em;

  color: $white-text-color;
}

.icon-send {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: $white-text-color;
}
