$text-color: #757575;
$headers-color: #212121;
$white-text-color: #ffffff;
$accent-color: #2196f3;
$background-color: #ffffff;
$gray-background-color: #f5f4fa;
$dark-background-color: #2f303a;
$gray-icons: #afb1b8;
